# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

target

# IDE
.idea
.settings
.project
.classpath

# Docker
data

# Frontend

# Compiled output
dist/
frontend/dist/
tmp/
out-tsc/

# Angular build files
.angular/
.angular/cache/

# Node
node_modules/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
Thumbs.db

# Environment files
src/environments/*.ts
!src/environments/environment*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/

# Package locks
package-lock.json
yarn.lock
pnpm-lock.yaml

